@import "/src/styles/responsive";

.home-layout {
  position: relative;
  background-color: #eff2f4;
  // min-width: 400px;
  padding-bottom: 50px;

  @include pad {
    min-width: 1200px;
  }
}

// .content {
//   padding: 24px 24px 30px;
//   // height: calc(100% - 85px - 75px);
//   overflow: auto;
// }