.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .error {
    ::ng-deep.mat-checkbox-frame,
    .mat-checkbox-background {
      border-color: #ff4646 !important;
    }
    ::ng-deep.mat-checkbox-background,
    .mat-checkbox-frame {
      background-color: rgba(255, 70, 70, 0.2) !important;
    }
  }
}
