<app-main-layout [config]="{ className: '' }" [nowPage]="'resetPassword'">
  <mat-card mobile class="slide-card">
    <form
      class="login-form"
      [formGroup]="resetForm"
      (ngSubmit)="resetPassword()"
    >
      <h2 class="title">重設密碼</h2>
      <ul class="login-input-layout">
        <!-- authorization -->
        <div class="prompt-wrapper" *ngIf="error.submitInvalid">
          <app-prompt [hint]="error.errorMessage"></app-prompt>
        </div>

        <ng-container
          *ngFor="let field of resetFormConfigs"
          appDynamicField
          [field]="field"
          [group]="resetForm"
        >
        </ng-container>
      </ul>
      <p class="hint">
        <a class="link" (click)="goLogin()">取消返回</a>
      </p>
    </form>
  </mat-card>
</app-main-layout>
