@import "/src/styles/responsive";

.slide-card {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: #fff;
  border-radius: 6px;
  
  width: 400px;
  min-width: 200px;
  max-height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;

  @include pad {
    transform: translate(-50%,-50%);
  }

  @media screen and (max-width: 768px) {
    display: block;
    position: relative;
    width: auto;
    transform: translate(-50%, -0%);
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
      color: #333;
      font-weight: 500;
      font-size: 22px;
      line-height: 31px;
      margin-bottom: 32.5px;
      text-align: center;
    }
    .prompt-wrapper {
      margin-bottom: 16px;
    }
    .hint {
      color: #4b4b4b;
      text-align: center;
      // margin-top: 12px;
    }
  }
}

.mat-error {
  margin-top: 4px;
}
