.discount-card {
  background: #ffffff;
  border-radius: 6px;
  padding: 12px;
  margin: 8px 0px 24px;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
.discount-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.discount-body {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding: 8px 0px;
  border-bottom: 1px solid #ebebeb;
  white-space: pre-line;
}
.discount-footer {
  font-size: 13px;
  line-height: 19px;
  color: #858585;
  padding-top: 12px;
}
