@import '~bootstrap/dist/css/bootstrap.css';
@import "/src/styles/responsive";
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

main {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #D1D9FF, #B2CAE0);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .header {
    background-color: #0000001f;
    justify-content: space-between;
    position: absolute;

    .logo {
      width: 126px;
      height: 25px;
      background-image: url("../../../../src/assets/images/Logo_iOrder_white.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .home {
      background-image: url("../../../../src/assets/images/home.svg");
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .main {
    .banner {
      background-image: url("../../../../src/assets/images/promotionBanner.png");
      width: 100%;
      background-repeat: no-repeat;
      padding-top: 85px;
      height: 630px;

      @include pad {
        height: 100vh;
        width: 100%;
        background-size: cover;
        padding-top: 64px;
        height: 576px;
      }

      .container {
        padding: 0;

        @include pad {
          max-width: 85%;
          position: relative;
        }

        .row {
          height: 30vh;
          display: flex;
          margin: 0;

          @include pad {
            height: auto;
            display: flex;
            align-items: center;
            height: 40vh;
          }

          .sale-group {
            position: relative;
            margin: 1rem 0;

            @include pad {
              margin: 0;
            }
          }

          .col-md-3 {
            justify-content: center;
            display: grid;
            position: relative;

            @include pad {
              width: 25% !important;
            }

            .fittings {
              display: inline-flex;

              img.yellow-one {
                height: 20px;
                width: 20px;
                position: absolute;
                top: -25px;
                left: 40%;

                @include pad {
                  top: 10%;
                  left: 50%;
                }
              }

              img.white-one {
                height: 32px;
                width: 21px;
                position: absolute;
                top: -45%;
                right: 22%;

                @include pad {
                  top: 15%;
                  right: 20%;
                }
              }

              img.white-two {
                height: 20px;
                width: 20px;
                position: absolute;
                top: 90%;
                left: 25%;

                @include pad {
                  top: 40%;
                  left: 20%;
                }
              }

              img.yellow-two {
                height: 20px;
                width: 20px;
                position: absolute;
                right: 25%;
                top: 82%;

                @include pad {
                  right: 25%;
                  top: 47%;

                }
              }
            }

            .saleTitle{
              z-index: 999;
              position: relative;

              .saleLimit {
                display: flex;
                align-items: flex-end;
  
                @include pad {
                  display: block;
                }
  
                .sale {
                  img {
                    width: 52px;
                    height: 28px;
                  }
                }
  
                .time {
                  margin-left: 0.7rem;
                  font-size: 32px;
                  font-weight: 700;
                  font-family: "Noto Sans Tc";
                  color: #22317B;
                  height: 28px;
  
                  @include pad {
                    margin-left: 0;
                    font-size: 48px;
                    display: inline-flex;
                    padding-top: 1.5rem;
                  }
                }
              }
  
              .limitBuy {
                color: #6A739D;
                font-size: 18px;
                text-align: center;
                margin-top: 0.7rem;
  
                @include pad {
                  text-align: start;
                  margin-top: 1.5rem;
                }
              }
  
              .timer {
                display: none;
  
                @include pad {
                  display: flex;
                  justify-content: left;
                }
  
                .count-down {
                  background-color: #fff;
                  color: #ED1C24;
                  display: flex;
                  align-items: center;
                  margin-top: 1rem;
                  padding: 5px 10px;
                  width: 260px;
                  height: 54px;
                  border-radius: 36px;
                  font-size: 24px;
                  font-weight: 700;
  
                  img {
                    margin-right: 0.2rem;
                    height: 44px;
                    width: 44px;
                  }
                }
              }
            }
            
          }

          .desktop-slide {
            display: none;

            @include pad {
              width: 75% !important;
              height: 100%;
              position: relative;
              display: block;
            }

            .card-carousel {
              position: relative;
              display: flex;
              justify-content: center;
              position: absolute;
              left: 52%;
              transform: translate(-49.5%);
              top: 8%;

              .carousel {
                width: 780px;
                height: 370px;
                display: inline-flex;
                justify-content: center;

                .carousel__cell {
                  position: absolute;
                  width: 600px;
                  height: 370px;
                  color: rgb(0, 0, 0);
                  text-align: center;
                  text-decoration: none;

                  div.card-img {
                    background: linear-gradient(55deg, #ffffff, #ffffff);
                    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.15);
                    transform: skew(355deg, 0deg);
                    border-radius: 35px;
                    height: 370px;

                    img {
                      width: 224px;
                      height: 224px;
                      display: inline-flex;
                      justify-content: center;
                      transform: skew(4deg, 0deg);
                      margin: 25px;
                    }

                    .card-content {
                      display: flex;
                      margin: 0 30px;
                      transform: skew(5deg, 0deg);
                      display: flex;
                      align-items: center;

                      .col-9.card-left {
                        display: grid;
                        text-align: start;

                        img {
                          height: 24px;
                          width: auto;
                          margin: 0 5px;
                          transform: skew(360deg, 0deg);
                        }

                        .card-name {
                          font-size: 20px;
                          line-height: 29px;
                          text-decoration: underline;
                        }

                        .card-introduce {
                          font-size: 14px;
                          line-height: 22px;
                          color: #858585;
                        }
                      }

                      .col-3.card-right {
                        text-align: start;
                        display: inline-table;

                        .card-grayPrice {
                          font-size: 14px;
                          color: #ADADAD;
                          text-decoration: line-through;
                        }

                        .card-redPrice {
                          display: flex;
                          font-size: 36px;
                          color: #ED1C24;
                          display: inline-flex;
                          margin-top: 15px;

                          .money {
                            font-size: 24px;
                            color: #ED1C24;
                          }

                          span {
                            font-size: 13px;
                            line-height: 19px;
                            color: #ADADAD;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .card-carousel-button {
              display: flex;
              justify-content: center;

              .card-button-group {
                display: flex;
                justify-content: center;
                position: absolute;
                top: 40%;
                transform: translatey(-50%);
                width: 64.5%;
              }

              .card-button {
                display: inline-flex;
                justify-content: space-between;
                width: 100%;

                .mat-icon {
                  border-radius: 50px;
                  background: #fff;
                  width: 48px;
                  height: 48px;
                  font-size: 48px;
                  color: #333333;
                  box-shadow: 0px 4px 8px -4px #00000047;
                }
              }

              .pagination {
                position: absolute;
                bottom: 18%;
                text-align: center;
                margin-top: 10px;

                .pagination-dot {
                  background-color: #fff;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  display: inline-block;
                  margin: 0 5px;
                  cursor: url(../../../assets/icons/cursor_click.svg), pointer  !important;

                }

                .pagination-dot.active {
                  background-color: #ED1C24;
                }
              }
            }
          }

          .mobile-slide {
            display: grid;
            justify-content: center;
            margin: 1rem 0;

            @include pad {
              display: none;
            }

            .mobile-group {
              position: relative;

              .carousel {
                width: 327px;
                height: 307px;
                border-radius: 16px;
                background-color: #fff;
                box-shadow: 0px 4px 8px 0px #00000012;
                padding: 1rem 2rem;

                .carousel-inner {
                  display: grid;
                  justify-content: center;

                  .carousel-item {
                    width: 137px;
                    height: 137px;
                  }
                }

                .carousel-tag {
                  display: flex;
                  margin: 0.2rem 0;

                  img {
                    height: 20px;
                    width: auto;
                    margin-right: 0.3rem;
                  }
                }

                .carousel-product {
                  .carousel-name {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 23px;
                    letter-spacing: 0em;
                  }

                  .carousel-content {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    color: #858585;
                  }

                  .carousel-price {
                    display: flex;
                    align-items: flex-end;
                    margin-top: 0.7rem;

                    .carousel-red {
                      font-size: 22px;
                      font-weight: 700;
                      line-height: 24px;
                      letter-spacing: 0em;
                      color: #ED1C24;
                    }

                    .carousel-gray {
                      font-size: 13px;
                      font-weight: 400;
                      line-height: 19px;
                      letter-spacing: 0em;
                      color: #ADADAD;

                      span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        letter-spacing: 0em;
                        margin: 0 0.3rem;
                        color: #ADADAD;
                        text-decoration: line-through;
                      }
                    }
                  }
                }
              }

              .card-carousel-button {
                display: inline-flex;
                justify-content: space-between;

                .carousel-control-prev {
                  left: -5%;
                }

                .carousel-control-next {
                  right: -5%;
                }

                .carousel-control-prev,
                .carousel-control-next {
                  opacity: 1;

                  .mat-icon {
                    border-radius: 50px;
                    background: #fff;
                    width: 40px;
                    height: 40px;
                    font-size: 40px;
                    color: #333333;
                    box-shadow: 0px 0px 1px 0px #00000073;
                  }
                }
              }

              .pagination {
                width: 100%;
                bottom: -8%;
                margin-top: 10px;
                position: absolute;
                display: flex;
                justify-content: center;

                .pagination-dot {
                  background-color: #fff;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  display: inline-block;
                  margin: 0 5px;
                  cursor: url(../../../assets/icons/cursor_click.svg), pointer  !important;
                }

                .pagination-dot.active {
                  background-color: #ED1C24;
                }
              }
            }

            .timer {
              display: flex;
              justify-content: center;

              @include pad {
                display: none;
              }

              .count-down {
                background-color: #fff;
                color: #ED1C24;
                display: flex;
                align-items: center;
                margin-top: 15%;
                padding: 5px 10px;
                height: 54px;
                border-radius: 36px;
                font-size: 26px;
                font-weight: 700;
                width: auto;

                @include pad {
                  width: 202px;
                }

                img {
                  margin-right: 0.2rem;
                  height: 44px;
                  width: 44px;
                }
              }
            }
          }
        }
      }
    }

    .product-detail {
      position: relative;
      padding: 0 0 10vh 0;
      background-color: #E2E6E9;

      @include pad {
        padding: 64px 0;
        background: none;
      }

      .container {
        padding: 0;
        background: linear-gradient(0deg, #E2E6E9, #E2E6E9);

        @include pad {
          max-width: 81%;
          background: none;
        }

        .text-swiper {
          background-color: #000;
          max-width: 100%;
          position: sticky;
          top: 0;

          @include pad {
            top: 0rem;
            border-radius: 15px;
            margin: -6.5% 0 2% 0;
          }

          .swiper-group {
            @include pad {}

            .swiper {
              @include pad {
                display: flex;
                justify-content: center;
                width: 93.5%;
              }

              .swiper-slide {
                color: #fff;
                padding: 12.5px 0;

                @include pad {
                  position: relative;
                  text-align: center;
                  height: 74px;
                }

                .times-tag {
                  background-color: #ADADAD;
                  color: #000;
                  display: inline-flex;
                  border-radius: 4px;
                  padding: 0 6px;

                  @include pad {}
                }

                .times {
                  color: #ADADAD;
                  margin-top: 5px;
                  font-size: 20px;

                  @include pad {
                    font-size: 20px;
                    font-weight: 700;
                  }

                  span {
                    @include pad {
                      font-size: 16px;
                    }
                  }
                }

                // :active,
                // :focus,
                // :visited {
                //     padding: 10px 0;
                //     border-bottom: 5px solid #FF5555;
                //     background-color: #FF5555;;
                //     @include pad {
                //         background-color: #FF5555;
                //     }

                //     .times-tag{
                //         background-color: #FF5555;
                //         color: #ffffff;
                //         @include pad {
                //             background-color: #ffffff;
                //             color: #FF5555;
                //             display: inline-flex;
                //             border-radius: 4px;
                //             padding: 0 6px;
                //         }
                //     }
                //     .times{
                //         color: #ffffff;
                //         font-size: 20px;
                //         @include pad {
                //             margin-top: 5px;
                //             font-weight: 700;
                //         }
                //         span{
                //             @include pad {
                //                 font-size: 16px;
                //             }
                //         }
                //     }
                // }
              }

              .swiper-slide:hover {
                background-color: #FF5555;

                .times-tag {
                  color: #ffffff;

                  @include pad {
                    background-color: #ffffff;
                    color: #FF5555;
                    display: inline-flex;
                    border-radius: 4px;
                    padding: 0 6px;
                  }
                }

                .times {
                  color: #ffffff;
                  font-size: 20px;

                  @include pad {
                    margin-top: 5px;
                    font-weight: 700;
                  }

                  span {
                    @include pad {
                      font-size: 16px;
                    }
                  }
                }
              }

              .swiper-slide-activetime {
                background-color: #FF5555;

                .times-tag {
                  color: #ffffff;

                  @include pad {
                    background-color: #ffffff;
                    color: #FF5555;
                    display: inline-flex;
                    border-radius: 4px;
                    padding: 0 6px;
                  }
                }

                .times {
                  color: #ffffff;
                  font-size: 20px;

                  @include pad {
                    margin-top: 5px;
                    font-weight: 700;
                  }

                  span {
                    @include pad {
                      font-size: 16px;
                    }
                  }
                }
              }
            }

            .swiper-button-prev,
            .swiper-button-next {
              display: none;

              @include pad {
                color: #5C5C5C;
                display: flex;
                height: 74px;
                margin-top: -37px;
                background-color: #000;
                width: 50px;

                &:after {
                  font-size: 25px;
                }
              }
            }

            .swiper-button-prev {
              border-right: 1px solid #474747;
              border-bottom-left-radius: 15px;
              border-top-left-radius: 15px;
              margin-left: -10px;
            }

            .swiper-button-next {
              border-left: 1px solid #474747;
              border-bottom-right-radius: 15px;
              border-top-right-radius: 15px;
              margin-right: -10px;
            }
          }
        }

        .filter {
          padding: 0 1rem;
          height: 46px;
          display: inline-flex;
          align-items: center;
          width: 100%;
          background-color: #fff;

          @include pad {
            border-radius: 6px;
          }

          .filter-border {
            color: #C2C2C2;
            margin: 0 0.5rem;
          }

          .filter-text {
            display: flex;

            img {
              width: 20px;
              height: 20px;
            }

            span {
              color: #0972E3;
            }
          }
        }

        .product-list {
          margin-top: 8px;
          background-color: #fff;
          height: 326px;
          display: grid;
          padding: 1rem;
          text-decoration: none;
          float: none;

          @include pad {
            height: 236px;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            padding: 0;
          }

          .col-md-3.product-img {
            display: flex;
            justify-content: center;

            img {
              width: 140px;
              height: 140px;

              @include pad {
                width: 188px;
                height: 188px;
              }
            }
          }

          .col-md-7 {
            display: contents;

            @include pad {
              display: grid;
              align-content: space-around;
              align-items: start;
              height: 65%;
            }

            .mobile-tag {
              display: flex;

              @include pad {
                display: none;
              }

              img {
                height: 20px;
                width: auto;
                margin-right: 0.3rem;
              }
            }

            .product-name {
              font-size: 16px;
              text-decoration: underline;

              @include pad {
                font-size: 22px;
              }
            }

            .product-introduce {
              font-size: 14px;
              color: #858585;

              @include pad {
                margin-bottom: 0.5rem;
              }
            }

            .product-tag {
              display: none;

              @include pad {
                display: flex;
                align-items: center;
              }

              img {
                width: 24px;
                height: 24px;
              }
            }
          }

          .col-md-2.limit-group {
            @include pad {
              display: grid;
              align-content: space-around;
              height: 100%;
            }

            .limit-price {
              display: flex;
              flex-direction: row-reverse;
              justify-content: flex-end;

              @include pad {
                display: block;
                flex-direction: revert;
              }
            }

            .limited-time-sale {
              display: none;

              @include pad {
                display: block;
                color: #ED1C24;
                font-size: 16px;
              }
            }

            .discount {
              color: #ADADAD;
              font-size: 14px;
              margin: 0.5rem 0.3rem;
              text-decoration: line-through;
            }

            .discount-text {
              display: flex;
              align-items: center;
              color: #ADADAD;
              font-size: 13px;

              @include pad {
                display: none;
              }
            }

            .discount-Price {
              color: #333333;
              font-size: 28px;

              @include pad {
                display: flex;
                align-items: baseline;
              }

              span {
                display: none;
                color: #ADADAD;
                font-size: 13px;

                @include pad {
                  display: flex;
                }
              }
            }

            .limit-sales-group {
              border-top: 1px solid #EBEBEB;
              display: flex;
              justify-content: space-between;
              width: 100%;
              padding-top: 0.5rem;

              @include pad {
                display: block;
                padding-top: 0;
                border: none;
              }

              .limited-time-sale {
                font-size: 13px;
                font-weight: 400;
                line-height: 19px;
                color: #ED1C24;
                display: flex;
                margin-top: 0.5rem;
                align-items: center;

                @include pad {
                  display: none;
                }

                img {
                  height: 16px;
                  width: auto;
                  margin-right: 0.3rem;
                }
              }

              .limit-number {
                margin-top: 0.5rem;
                font-size: 13px;
                font-weight: 400;
                line-height: 19px;
                color: #858585;

                @include pad {
                  display: block;
                  color: #858585;
                  font-size: 14px;
                  margin-top: 0;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }

  .gototop {
    position: fixed;
    bottom: 10%;
    right: 1%;
    padding: 10px;
    background: #fff;
    display: inline-flex;
    border-radius: 12px;
  }
}

.dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000002e;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .dialog-content {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 250px;

    header {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      p {
        margin: 0;
        font-size: 17px;
        color: #333333;
        font-weight: 700;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include pad {}
      }
    }

    .dialog-main {
      display: flex;
      justify-content: center;
      padding: 16px;
      margin-top: -1px;
      border: 1px solid #EBEBEB;

      select {
        width: 212px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #D6D6D6;
      }
    }

    .dialog-condition {
      display: inline-grid;
      width: 100%;

      span {
        font-size: 16px;
        color: #333333;
        padding: 16px;
      }

      label {
        padding: 5px 16px;
        font-size: 14px;
        display: flex;
        align-items: center;

        input {
          height: 18px;
          width: 18px;
          margin-right: 5px;
        }
      }

      .dialog-price {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        input {
          width: 97px;
          height: 28px;
          margin: 5px;
          border: 1px solid #D6D6D6;
          border-radius: 4px;
        }
      }

      .search-price {
        margin: 5px 0;
        display: inline-flex;
        justify-content: center;

        button {
          background-color: #333333;
          color: #fff;
          width: 212px;
          height: 28px;
        }
      }
    }

    footer {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 250px;
      justify-content: space-around;
      font-size: 14px;
      height: 50px;
      border-top: 1px solid #EBEBEB;

      button {
        height: 50px;
        width: 50%;
        color: #858585;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .dialog-blue {
        background-color: #0972E3;
        color: #fff;
      }
    }
  }
}

footer {
  color: #858585;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;

  @include pad {
    font-size: 13px;
    height: 64px;
    padding: 0;
  }
}
