<app-header-layout [data]="data">
  <section class="dicard-changes-wrapper">
    <p class="text" [innerHTML]="data.text"></p>
  </section>

  <footer class="dialog-footer">
    <section class="footer-wrapper">
      <p class="link" (click)="cancel()">取消</p>
    </section>
    <section class="footer-wrapper">
      <button class="button" mat-stroked-button (click)="discard()">
        不要儲存
      </button>
      <button class="button" mat-raised-button color="primary" (click)="save()">
        儲存
      </button>
    </section>
  </footer>
</app-header-layout>
