<app-loading-mask [showIf]="isLoading"></app-loading-mask>
<app-header-layout [data]="data">
  <form class="password-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ul class="password-input-layout">
      <!-- authorization -->
      <div class="prompt-wrapper" *ngIf="error.submitInvalid">
        <app-prompt [hint]="error.errorMessage"></app-prompt>
      </div>
      <ng-container
        *ngFor="let field of formConfigs"
        appDynamicField
        [field]="field"
        [group]="loginForm"
      >
      </ng-container>
    </ul>

    <footer class="dialog-footer">
      <section class="footer-wrapper">
        <button class="button" mat-stroked-button mat-dialog-close>取消</button>
        <button class="button" mat-raised-button color="primary">確定</button>
      </section>
    </footer>
  </form>
</app-header-layout>
