.send-password-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.send-password {
  .text {
    margin: 8px 0px 32px;
    color: #5c5c5c;
  }
}
