<app-header-layout [data]="data">
  <section class="simple-dialog" style="flex: 1">
    <p class="text" [innerHTML]="data.text"></p>
  </section>

  <footer class="dialog-footer">
    <section class="footer-wrapper">
      <button class="button" mat-stroked-button (click)="cancel()">
        {{ data.cancelButton }}
      </button>
      <button class="button" mat-raised-button color="primary" (click)="save()">
        {{ data.confirmButton }}
      </button>
    </section>
  </footer>
</app-header-layout>
