<li
  class="input-wrapper"
  [ngClass]="{
    outside: field['labelPosition'] === 'outside'
  }"
  [ngStyle]="{ padding: field.stylePadding, margin: field.styleMargin }"
>
  <mat-label class="label" *ngIf="field['labelPosition'] === 'outside'">{{
    field.label
  }}</mat-label>
  <div class="input-box">
    <mat-label
      class="label_top"
      *ngIf="field['labelPosition'] === 'top'"
      [ngClass]="{
        errorTitle:
          field.validations.hasErrorMessage &&
          group.get(field.name)?.invalid &&
          group.get(field.name)?.touched
      }"
      >{{ field.label }}</mat-label
    >
    <mat-form-field
      appearance="outline"
      class="input no-wrapper"
      [formGroup]="group"
    >
      <mat-label class="label" *ngIf="field.labelPosition === 'inside'">{{
        field["label"]
      }}</mat-label>
      <span
        matPrefix
        *ngIf="field['labelPosition'] === 'fixed'"
        class="fixed"
        >{{ field.label }}</span
      >
      <input
        matInput
        [name]="field['name']"
        [placeholder]="field['placeholder']"
        [formControlName]="field['name']"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <ng-container *ngFor="let valids of field.validations.errorMessage">
      <div
        *ngIf="
          field.validations.hasErrorMessage &&
          group.get(field['name'])?.invalid &&
          group.get(field['name'])?.touched
        "
      >
        <mat-error
          class="error"
          *ngIf="
            (group.get(field['name']!)?.hasError(valids['type']) &&
              !group.get(field['name']!)?.hasError('required')) ||
            (group.get(field['name']!)?.hasError('required') &&
              valids['type'] === 'required')
          "
        >
          {{ valids["message"] }}</mat-error
        >
      </div>
    </ng-container>
    <div
      class="hint"
      *ngIf="
        field['hint'] !== '' &&
        !(
          field.validations.hasErrorMessage &&
          group.get(field['name'])?.invalid &&
          group.get(field['name'])?.touched
        )
      "
    >
      <mat-hint>{{ field["hint"] }}</mat-hint>
    </div>
  </div>
</li>
