.input-wrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-weight: 500;
  &.outside {
    .input-box {
      width: calc(100% - 4rem - 16px);
    }
  }
  .label_top {
    color: #333333;
    &.errorTitle {
      // color: #ff4842;
    }
  }

  .fixed {
    position: relative;
    top: -0.35em;
    color: #5c5c5c;
  }

  .input {
    width: 100%;
    background-color: #fff;
  }
  .input-box {
    width: 100%;
  }
  .error {
    // padding: 8px 0px 0px 16px;
    font-weight: 400;
    font-size: 12px;
  }
  .hint {
    margin-top: 4px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .fixed {
    height: auto;
  }
}
