@import "responsive";

::ng-deep .breadcrumb {
  background-color: #FFFFFF;
  padding-left: 40px !important;
}

.member-wrapper {
  display: flex;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  @include pad {
    padding: 24.5px 40px;
  }
}

.content {
  flex: 1 1 100%;
  background-color: #eff2f4;
  .form {
    @include pad {
      display: grid;
      align-items: center;
      grid-template-columns: 300px;
      column-gap: 12px;
    }
  }

  @include pad {
    background-color: #fff;
  }
  .title {
    display: none;
    font-size: 26px;
    line-height: 36px;
    @include pad {
      display: inline-block;
    }
  }
  .pagination ::ng-deep.ngx-pagination  {
    margin-top: 32px;
  }
}

.address-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  border-bottom: 1px solid #ebebeb;
  @include pad {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 12px;
    border-bottom: none;
    .expand-icon {
      display: none;
    }
  }
}

.table-container {
  border: 1px solid #ebebeb;
  .left {
    display: flex;
    .refresh-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0972e3;
      margin-left: 18px;
      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        .mat-icon {
          width: 100%;
          height: 100%;
          font-size: 16px;
        }
      }
    }
  }
}

.operate {
  display: flex;
  font-size: 13px;
  height: 19px;

  @include pad {
    display: block;
  }

  .link {
    display: inline-flex;
    line-height: 13px;
    align-items: center;
    cursor: url(../../../../assets/icons/cursor_click.svg), pointer  !important;
    &:hover {
      text-decoration: underline;
    }
  }
  :first-child {
    border-right: 1px solid #c2c2c2;
    padding-right: 12px;
    margin-right: 12px;
  }
}

.no-data-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 16px;
  gap: 16px;
  background: #ffffff;
  margin-bottom: 10px;
}
