@import "/src/styles/responsive";
@import "mixin";
.dialog-wrapper {
  position: relative;
  aspect-ratio: 1 / 1 !important;
  overflow: hidden;
  padding: 20px 28px 24px 28px;

  @include web {
    height: 75vh;
    max-width: 75vh;
  }

  @include pad {
    width: 91vw;
    max-height: 91vw;
  }
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: -10px;
  right: -10px;
  .close-button {
    translate: -10px 10px;
    border-radius: 4px;
    background: #00000080;
    .close-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
      line-height: 24px;
      color: #fff;
    }
  }
}

.dialog-content {
  overflow: auto;
  @include invisible-scroll;
  ::ng-deep.mat-form-field {
    padding: 0px;
  }
}

.custom-button {
  .mat-raised-button {
    height: 44px;
  }
}

.dialog-wrapper {
    position: relative;
    height: 100%;
}
