<app-header-layout [data]="data">
  <section class="help-contact-header">
    <span class="text" [innerHTML]="data.text"></span>
    ，請洽詢電子商務部或透過線上客服確認帳號使用狀況，謝謝。
  </section>
  <section class="help-contact-body">
    <div class="left">
      <div class="title">電子商務部</div>
      <div class="tel">02-27962345</div>
      <div class="ext">(分機 837)</div>
      <img src="../../../../../assets/images/qrcode_mobile.svg" />
      <div class="time">服務時間</div>
      <div class="time">週一至週五 8:30~12:00 / 13:30~18:00</div>
    </div>
    <div class="right">
      <img src="../../../../../assets/images/qrcode.svg" />
    </div>
  </section>
</app-header-layout>
