div.list-option {
  border-top: solid 1px #e0e0e0;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 30px;
  padding-right: 30px;
  height: 56px;
  display: flex;
  align-items: center;
}

.mat-radio-button {
  font-size: 16px;
}
