$dark-text: #333;
$light-text: #fff;

$custom-product-primary: (
  50: #e1eefc,
  100: #b5d5f7,
  200: #84b9f1,
  300: #539ceb,
  400: #2e87e7,
  500: #0972e3,
  600: #086ae0,
  700: #065fdc,
  800: #0555d8,
  900: #0242d0,
  A100: #f8faff,
  A200: #c5d3ff,
  A400: #92adff,
  A700: #799aff,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $dark-text,
    A400: $dark-text,
    A700: $dark-text,
  ),
);

$custom-product-accent: (
  50: #f9f9f9,
  100: #f1f1f1,
  200: #e8e8e8,
  300: #dedede,
  400: #d7d7d7,
  500: #d0d0d0,
  600: #cbcbcb,
  700: #c4c4c4,
  800: #bebebe,
  900: #b3b3b3,
  A100: $light-text,
  A200: $light-text,
  A400: $light-text,
  A700: #ffecec,
  contrast: (
    50: $light-text,
    100: $light-text,
    200: $light-text,
    300: $light-text,
    400: $light-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $light-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  ),
);

$custom-product-warn: (
  50: #ffe9e9,
  100: #ffc8c8,
  200: #ffa3a3,
  300: #ff7e7e,
  400: #ff6262,
  500: #ff4646,
  600: #ff3f3f,
  700: #ff3737,
  800: #ff2f2f,
  900: #ff2020,
  A100: $light-text,
  A200: $light-text,
  A400: #ffcfcf,
  A700: #ffb6b6,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $dark-text,
    A400: $dark-text,
    A700: $dark-text,
  ),
);
