@import "/src/styles/responsive";

:host {
  display: block;
}

.list-header-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 0px;

  .list-header-primary {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: #333333;
  }
}

.list-product {
  display: grid;
  gap: 24px 24px;
  grid-template-columns: 1fr 1fr;
  .item-product {
    min-width: 20%;
    border: 0px solid #EBEBEB;
    border-radius: 6px;

  @include pad{
    border: 1px solid #EBEBEB;
  }
    .img-product {
      min-width: 140px;
      min-height: 140px;
    }
  @include pad{
    grid-template-columns: 33% 33% 33%;
  }
  }

  .title-product,
  .price-product {
    margin-top: 8px;
    display: block;
  }
  @include pad {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
