<app-header-layout
  [data]="data"
  [cancel]="data.cancel"
  [confirm]="data.confirm"
>
  <div class="list-term" [innerHTML]="orderLaw">
    <!-- <div class="text-error-container mt20">本網站未提供鑑賞期退貨服務。</div>
    <div class="item-term">
      <div class="header">精技電腦「網路下單條款」之相關規定</div>
      <ul class="body">
        <li>
          •
          本網站銷售之所有相關商品或服務之保固及維修服務，悉由提供各該商品或服務的廠商提供。
        </li>
        <li>
          •
          商品交易頁面呈現之商品名稱、價格、內容、規格、型號及其他相關資訊，皆為會員與本公司締結契約之一部分，會員同意依據本網站所提供之確認商品數量及價格機制進行下單。
        </li>
      </ul>
    </div>
    <div class="item-term">
      <div class="header">精技電腦「訂單成立」之相關規定</div>
      <ul class="body">
        <li>
          •
          會員完成線上訂購程序以後，本網站將以電子郵件寄發通知，訂單一經成立即無法取消，亦無法修改訂單內容。
        </li>
        <li>
          •
          訂單成立後，如確有無法接單之情事，本公司將於完成訂單後一個工作天內，通知有無法接單之情事並取消該訂單。
        </li>
      </ul>
    </div> -->
  </div>
</app-header-layout>
