.product-commodity-change-wrapper {
  display: inline-flex;
  gap: 8px;
}

.footer-wrapper {
  margin-top: 16px;
  gap: 8px;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  display: inline-block;
  width: 75px;
  height: 40px;
}
