.send-password {
  margin-top: -12px;
  table {
    padding: 8px;
    background: #eff2f4;
    border-radius: 6px;
    margin-bottom: 24px;
  }
  tr {
    padding: 8px;
    color: #5c5c5c;
  }
  td {
    font-weight: 500px;
  }
  .name {
    width: 80px;
    margin-right: 16px;
    vertical-align: top;
  }
}
