<app-header-layout [data]="data">
  <section class="send-password">
    <table>
      <tr>
        <td class="name">帳號身份</td>
        <td>{{ data.jobTitle }}</td>
      </tr>
      <tr>
        <td class="name">帳號</td>
        <td>{{ data.email }}</td>
      </tr>
      <tr>
        <td class="name">姓名</td>
        <td>{{ data.lastName }}</td>
      </tr>
      <tr *ngIf="data.reason?.length">
        <td class="name">重設原因</td>
        <td>{{ data.reason }}</td>
      </tr>
    </table>
  </section>
</app-header-layout>
