// product
$padding: 10px 20px 10px 12px;
$text: #333;
$warn-icon: #ed1c24;
$warn-bg: #ffdada;
$warn-border-color: transparent;
$info-icon: #0972e3;
$info-bg: #d4e5ff;
$info-border-color: transparent;

// cms
$outline-padding: 15px 18px;
$outline-text: #7a0c2e;
$outline-warn-icon: #ff4842;
$outline-warn-bg: #ffe7d9;
$outline-warn-border-color: #ffa48d;
$outline-info-icon: #0972e3;
$outline-info-bg: #d4e5ff;
$outline-info-border-color: #04297a;
