.form {
  height: 100%
}

.content {
  padding: 0 28px;
  flex: 1;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #5C5C5C;
  font-size: 14px;
}

.description {
  flex: 1;
  padding-bottom: 28px;
}

::ng-deep #body app-product-modify-filter .dialog-header,
::ng-deep #body app-product-save-filter .dialog-header {
  position: relative;
  width: 100%;
  padding: 17px 17px 17px 28px;
  margin: 0;
}

::ng-deep #body app-product-modify-filter app-header-layout,
::ng-deep #body app-product-save-filter app-header-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep #body app-product-modify-filter .dialog-content,
::ng-deep #body app-product-save-filter .dialog-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  & > .dialog-footer {
    padding: 24px 28px;
  }

  .button {
    height: 36px;
  }
}

::ng-deep .product-save .mat-dialog-container {
  padding: 0 ;
}
