.dialog-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  .footer-wrapper {
    display: flex;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 24px;
    height: 36px;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.account-hint {
  color: #5c5c5c;
  padding-bottom: 32px;
}
