<app-member-layout>
  <app-breadcrumb></app-breadcrumb>
    <!-- <div class="header-wrapper">
      <div class="topHeader">

          <mat-icon class="large-icon">keyboard_arrow_right</mat-icon>
          會員中心
          <mat-icon class="large-icon">keyboard_arrow_right</mat-icon>
          變更密碼
      </div>
    </div> -->

  <ng-container
    *ngIf="layoutService.layoutChanges$ | async as currentScreenSize"
  >
    <div class="member-wrapper">
      <app-member-menu active="變更密碼"></app-member-menu>
      <main class="content">
        <h2 class="password-form-title">變更密碼</h2>
        <app-company-notic-row
          [field]="noticationData"
          *ngIf="!isAdmin"
        ></app-company-notic-row>
        <form
          class="password-form"
          [formGroup]="passwordForm"
          (ngSubmit)="onSubmit()"
          [ngClass]="{ admin: isAdmin }"
        >
          <div class="password-input-layout">
            <div class="password-form-subtitle" *ngIf="isAdmin">
              變更帳號管理員密碼
            </div>
            <ul class="password-input">
              <!-- authorization -->
              <div class="prompt-wrapper" *ngIf="error.submitInvalid">
                <app-prompt [hint]="error.errorMessage"></app-prompt>
              </div>

              <ng-container
                *ngFor="let field of formConfigs"
                appDynamicField
                [field]="field"
                [group]="passwordForm"
              >
              </ng-container>
            </ul>
          </div>
        </form>
      </main>
    </div>
  </ng-container>
</app-member-layout>
