<app-header-layout [data]="data">
  <section class="product-remind-me-wrapper">
    <span *ngIf='data.isIcon' class='iconWrapper'>
      <app-icon [iconName]="'warning'"></app-icon>
    </span>
    <p class="text" [innerHTML]="data.text"></p>
  </section>

  <h4 class='title'>通知對象</h4>

  <div class='product-icon'>
    <app-icon class='custom-icon' [iconName]="'info'"></app-icon>
    <p>如有需要再通知其他人員，請輸入Email。</p>
  </div>

  <form class="form mt-10" [formGroup]="group">
    <div class="user-wrapper">
      <app-label-radio [field]="{
          type: 'radiobutton',
          label: '',
          inputType: 'radio',
          name: 'status',
          class: 'inline',
          options: [
            { value: 1, label: '公司人員' },
            { value: 2, label: '其他人員' }
          ],
          value: 1,
          color: 'primary'
        }"></app-label-radio>

      <ng-container [ngSwitch]="group.value.status">
        <div *ngSwitchCase="1" class='swtichWrapper'>
          <div class='select-input'>
            <app-icon-select [field]="{
              type: 'iconSelect',
              label: '',
              inputType: 'text',
              name: 'account',
              styleMargin: '0px 0px 0px 0px',
              options: mailList,
              class: '',
              placeholder: '選擇公司人員',
              validations: {
                hasErrorMessage: true,
                errorMessage: [{ type: 'required', message: '必填欄位' }]
              }
            }">
            </app-icon-select>
          </div>
          <button class="button" mat-raised-button color="primary" (click)="add()">
            新增
          </button>
        </div>
        <div *ngSwitchCase="2" class='swtichWrapper'>
          <app-label-input
            [field]="{
              type: 'input',
              label: '',
              labelPosition: 'top',
              inputType: 'email',
              name: 'email',
              placeholder: '請輸入Email帳號',
              hint: '',
              class: '',
              validations: {
                hasErrorMessage: true,
                errorMessage: [
                  { type: 'required', message: '必填欄位' },
                  { type: 'email', message: 'Email格式錯誤' }
                ]
              }
            }"
          >
          </app-label-input>
          <button class="button" mat-raised-button color="primary" (click)="add()">
            新增
          </button>
        </div>
      </ng-container>
    </div>
  </form>

  <p class='text1 mt-16'>已選通知對象</p>
  <div 
    class='text mt-10'
    *ngFor="let mail of notificationMail; let index = index"
  >
    <div>{{ mail }}</div>
    <div class="delete" *ngIf="index !== 0" (click)="delete(index)">刪除</div>
  </div>

  <footer class="dialog-footer">
    <section class="footer-wrapper">
      <button class="button" mat-stroked-button (click)="cancel()">
        取消
      </button>
      <button class="button" mat-raised-button color="primary" (click)="save()">
        確認
      </button>
    </section>
  </footer>
</app-header-layout>
