<section class="outstanding-wrapper">
  <p class="outstand-box">
    <span class="outstand-text">待付金額</span>
    <span class="outstand-price">${{ account.payAmount | number }}</span>
  </p>
  <div class="outstanding-table">
    <div class="col">
      <p class="col-title">交易匯總月分類</p>
      <div class="col-item-wrapper">
        <p class="col-item">
          <span class="col-text">本月</span>
          <span class="col-text">${{ account.thisMonth | number }}</span>
        </p>
        <p class="col-item">
          <span class="col-text">上月</span>
          <span class="col-text">${{ account.lastMonth | number }}</span>
        </p>
      </div>
    </div>
    <div class="col">
      <p class="col-title">交易匯總年分類</p>
      <div class="col-item-wrapper">
        <p class="col-item">
          <span class="col-text">本年度</span>
          <span class="col-text">${{ account.thisYear | number }}</span>
        </p>
        <p class="col-item">
          <span class="col-text">去年度</span>
          <span class="col-text">${{ account.lastYear | number }}</span>
        </p>
      </div>
    </div>
  </div>
</section>
