.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  gap: 4px;
  margin-top: 12px;
}
.line-through {
  text-decoration: line-through;
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  overflow-wrap: break-word;
}

.subTitle {
  color: #858585;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  overflow: hidden;
  overflow-wrap: break-word;
}

.hint {
  color: #858585;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  overflow: hidden;
  overflow-wrap: break-word;
}

.header + .hint {
  width: 100%;
}
