@import "/src/styles/responsive";

.breadcrumb {
  align-items: center;
  padding: 12px 0;
  gap: 8px;
  color: #858585;
  display: none;

  @include pad {
    display: flex;
  }

  .home {
    width: 20px;
  }

  .breadcrumb-item {
    display: grid;
    grid-template-columns: 1fr 10px;
    column-gap: 8px;

    &:last-of-type {
      .arrow {
        display: none;
      }
    }
  }
  .arrow {
    background-image: url("../../../../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(270deg) translateY(10px);
  }
}
