<app-header-layout [data]="data">
  <section class="product-commodity-change-wrapper">
    <span *ngIf="data.isIcon" class="wrapper">
      <app-icon [iconName]="'warning'"></app-icon>
    </span>
    <p class="text" [innerHTML]="data.text"></p>
  </section>
  <mat-radio-group class="product-list-filter-mobile-radio-group" value="{{this.value}}">
    <mat-radio-button (click)="this.productListFilterService.ChangeFilter('')" [color]="'primary'" value="1" class="product-list-filter-mobile-radio-group-item">最新上架</mat-radio-button>
    <mat-radio-button (click)="this.productListFilterService.ChangeFilter('traceOrder')" [color]="'primary'" value="2" class="product-list-filter-mobile-radio-group-item">熱門追蹤</mat-radio-button>
    <mat-radio-button (click)="this.productListFilterService.ChangeFilter('ASC')" [color]="'primary'" value="3" class="product-list-filter-mobile-radio-group-item">價格低到高</mat-radio-button>
    <mat-radio-button (click)="this.productListFilterService.ChangeFilter('DESC')" [color]="'primary'" value="4" class="product-list-filter-mobile-radio-group-item">價格高到低</mat-radio-button>
  </mat-radio-group>

</app-header-layout>
