@import "responsive";

.address-layout,
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-address-form {
  .create-address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include pad {
      flex-direction: row;
    }
    .address-item {
      width: 100%;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .input-wrapper {
    .label_top {
      color: #333333;
    }
  }
  .password-wrapper {
    margin-top: 20px;
  }
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  .footer-wrapper {
    display: flex;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 24px;
    height: 36px;
    &:first-child {
      margin-right: 10px;
    }
  }
}
